.fullApp {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #E6E4FF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #21201E;
  height: 100%;
  cursor: pointer;
}


.appTitle {
  padding-right: 3rem;
  font-weight: bolder;
  font-size: large;
}

.header{
  background-color: #D81921;
  color: #E6E4FF;
  width: 100%;
  padding-top: .5rem;
}

.secondHeader {
  background-color: rgb(33, 32, 30);
  color: #E6E4FF;
  padding-top: .5rem;
  padding-bottom: .5rem;
  width: 100%;
}

.body {
  padding-top: 1rem;
  background-color: #F5F5F5;
  padding-bottom: 1rem;
}

.footer {
  background-color: rgb(33, 32, 30);
  width: 100%;
  height: 1rem;
  padding-top: 3rem;
  margin-bottom: 0rem;
}

